rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    function isUserPath(uid) {
      return isSignedIn() && request.auth.uid == uid;
    }

    match /users/{uid} {
      allow read, write: if false;

      match /projects/{projectId} {
        allow read, write: if isUserPath(uid);

        match /runs/{runId} {
          allow read, write: if isUserPath(uid);
        }
      }
    }
  }
}
